footer.footer {
  background: #000921;
  color: #fff;
  padding: 32px 0px 92px;
}
.footer {
  .logo-link {
    color: #FFF;
  }
  .main-menu {
    a {
      color: #FFF;

      &:hover {
        color: $secondary;
      }
    }
  }
  .svg-key {
    fill: rgba(#FFF,.7);
  }
}